* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-color: rgb(235, 235, 235);
  margin: 0;
  padding: 1em;
  width: 100%;
  height: 100%;
}

div{
  display: block;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  min-width: 400px;
}

.body-box {
  /* position: relative; */
  position: absolute;
  width: 100%;
  height:100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  /* background-color: rgb(126, 77, 195); */
}

.row{
  position: fixed;
  /* height:100%; */
  display: flex;
  background-color: rgb(192, 151, 245);
  padding: 4px 6px 4px 4px;
  border:solid #000;
  border-width:1px 1px 1px 1px;
}

.inner-box {
  position: relative;
  width:30%;
  right:-19%;
  margin:2em;
  /* background-color: rgb(31, 146, 224); */
}

.row{

  background-color: rgb(235, 235, 235);
  /* background-color: rgb(203, 160, 30); */
}

.row:hover{
  background-color: rgb(192, 151, 245);
}
